nav ul a{
  color: rgb(44, 43, 51);
}

li .dropdown-trigger{
  background: none;
  box-shadow: none;
  color: rgb(44, 43, 51);
  font-family: 'Rouge Script', cursive;
  font-weight: bold;
  text-transform: capitalize;
}

li .dropdown-trigger:hover{
  background: none;
}

li .dropdown-trigger:focus{
  background: none;
}

.dropdown-content li a{
  color: rgb(44, 43, 51);
}


p {
  line-height: 2rem;
  
}

#pag{
  margin-top:5%;
  font-size: 1.5em;
  font-family:'Great Vibes', cursive;
  color: rgb(44, 43, 51); 
  font-weight: bold;
  margin-left: 20%;
  text-align: center; 
  margin-bottom: 5%;
}

#pag1{
  margin-top:10%;
  font-size: 1.5em;
  font-family:'Great Vibes', cursive;
  color: rgb(44, 43, 51); 
  font-weight: bold;
  margin-left: 16%;
  text-decoration: underline;

}

#pag2{

  font-size: 2em;
  font-family:'Great Vibes', cursive;
  color: rgb(44, 43, 51); 
  font-weight: bold;
  text-align: center; 
  margin-bottom: 5%;
}

hr.style14 {
  margin-top:10%;
	border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  color:rgb(44, 43, 51); 
  margin-left:10%;
}

#carrousel{
  margin-left: 16%;
}

section #medio {
  background-color: rgba(53,54,59,.05);
}

#sus{
  font-size: 1em;
  font-family:'Great Vibes', cursive;
  color: rgb(44, 43, 51); 
  font-weight: bold;
  margin-left: 20%;
  text-align: center; 
  margin-bottom: 5%;
}

#sus2{
  font-size: 1em;
  font-family:'Great Vibes', cursive;
  color: rgb(44, 43, 51); 
  margin-bottom: 5%;
  text-align: left;
  
}

#correcto{
  font-size: 1em;
  font-family:'Great Vibes', cursive;
  color: rgb(31, 134, 10); 
  font-weight: bold;
  text-align: center; 
  margin-bottom: 5%;
  
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

#logo {
  margin-top: 1%;
  margin-left: 1.5%;
  width: 20%;
  border-radius: 50%;
}
#img_inicio{
  width: 3%;
}

#inicio{
  margin-top: 25%;
  background-color: #c1d4e7;
  color: rgb(44, 43, 51);
  font-family: 'Rouge Script', cursive;
  font-weight: bold;
  
}

#btnLogOut, .btn{
  background-color: #c1d4e7;
  color: black;
  
}

#nav-mobile{
  margin-right: 3%; 
}


#registro{
  background-color: #f3ebeb;
  color: black; 
}

#navdos{
  margin-top: 1%;
  margin-bottom: 4%;
  margin-left: 2%;
  font-family: 'Rouge Script', cursive;
  font-weight: bold;
  
}

#Iniciar_Sesion{
  color: white;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("Imagenes/back.jpg");
}

main {
  flex: 1 0 auto;
}

#regylog_h1 {
  margin: 0;
  color: #dcd4eb;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 30px;

}

h1 {
  font-family:'Great Vibes', cursive;
  color: rgb(44, 43, 51); 
  font-family: "Great Vibes", cursive; 
  font-size: 240%; 
  font-weight: bold; 
  margin-bottom: 0px; 
  margin-top: 12%;
  margin-left: 20%;
  text-align: center; 
  text-shadow: 0 1px 1px #fff;
}

#leer{
  width: 80%;
  margin-top: 15%;
  margin-left:30%;
}

#button2 {
  z-index: 99;
  margin-left:18%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  background: linear-gradient(45deg, #e3f2fd, rgb(170, 182, 241));
  border-radius: 20px;
  color: rgb(44, 43, 51);
  font-size: 20px;
  letter-spacing: 1px;
  font-family:'Great Vibes', cursive;
  font-weight: 200;
}

#button3 {
  width: 150px;
  height: 40px;
  background: linear-gradient(45deg, #e3f2fd, rgb(170, 182, 241));
  border-radius: 20px;
  color: rgb(44, 43, 51);
  font-size: 20px;
  letter-spacing: 1px;
  font-family:'Great Vibes', cursive;
  font-weight: 200;
  margin-bottom: 20%;
  margin-top: 5%;
  margin-left: 30%;
}

h2{
  
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 70px;
  margin-left: 20%;
  margin-bottom: 0px; 
}

h3{
  font-family: Arial;
  font-size: 1em;
  color: rgb(151, 142, 142);
  margin-top: 5px;
  margin-bottom: 0px;
}

h4 {
  
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 5%; 
  font-family:'Great Vibes', cursive;
  color: rgb(44, 43, 51); 

}

#aside{
  margin-right: 10%;

}

#segundo{
  margin-top: 8%;
}


#aside1{
  width: 60%;
}
h5 {

  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 20px;

  font-family:'Great Vibes', cursive;
  color: rgb(44, 43, 51); 

}


.carousel{
  margin-bottom: 50px;
}

@media only screen and (max-width : 992px) {
  .parallax-container{
    position: absolute;
    top: 20%;
  }
  #index-banner {
    top: 0.5%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner {
    top: 0;
  }
}

h6 {
  margin: 0;
  color: #dcd4eb;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 30px;
}

p.w3l-register-p {
  color: #eee;
  font-size: 13px;
  text-align: center;
  margin-top: 2em;
}

.modal {
  background: rgba(0, 0, 0, 0.4117647058823529);
  max-width: 500px;
  margin: 0 auto;
  padding: 3em;
  border-radius: 10px;
  box-sizing: border-box;
}

.group {
  display: flex;
  padding: 5px;
  background-color: #ffffff;
}

.group i {
  color: #21285f;
  font-size: 20px;
  padding: 20px;
}

.w3l-form-group {
  margin: 20px 0;
}

.w3l-form-group label {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  color: #d2d2d2;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-style: italic;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  border: none;
  box-sizing: border-box;
  background: transparent;
  color: #000;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

button {
  background: #21285f;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  padding: 12px 60px;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
}

@media(max-width:480px) {
  .modal {
  
  position: fixed;
  top: 50%;

}
}

#btnLogin, #btnSignUp {
  margin-bottom: 10%;
}

.alert_correcto_i {
  text-align: center;
  padding: 0.625em;
  background: #79c879;
  color: #fff;
  margin-bottom: 0.625em;
  display: none;
}

.alert_nombre {
  text-align: center;
  padding: 0.625em;
  background: #d34420;
  color: #fff;
  margin-bottom: 0.625em;
  display: none;
}
.alert_comentario {
  text-align: center;
  padding: 0.625em;
  background: #d34420;
  color: #fff;
  margin-bottom: 0.625em;
  display: none;
}
.alert_correo_i {
  text-align: center;
  padding: 0.625em;
  background: #d34420;
  color: #fff;
  margin-bottom: 0.625em;
  display: none;
}

.alert_contraseña_i {
  text-align: center;
  padding: 0.625em;
  background: #d34420;
  color: #fff;
  margin-bottom: 0.625em;
  display: none;
}


.alert_correcto_r {
  text-align: center;
  padding: 0.625em;
  background: #79c879;
  color: #fff;
  margin-bottom: 0.625em;
  display: none;
}

.alert_correo_r {
  text-align: center;
  padding: 0.625em;
  background: #d34420;
  color: #fff;
  margin-bottom: 0.625em;
  display: none;
}

.alert_contraseña_r {
  text-align: center;
  padding: 0.625em;
  background: #d34420;
  color: #fff;
  margin-bottom: 0.625em;
  display: none;
}

.alert_contraseña_rep {
  text-align: center;
  padding: 0.625em;
  background: #d34420;
  color: #fff;
  margin-bottom: 0.625em;
  display: none;
}

#redes_sociales{
  display: none;
}

#img_arbol{
  display: none;
}

#logo{
  width:18%;    
}

.wrapper{
  position: absolute;
  top: 52%;
  left: 30%;
  transform: translate(-50%,-50%);
}


/* Portrait */
@media only screen and (max-width: 600px) {

  html,body{
    max-width: 100%;
    overflow-x: hidden;
  }
  

  #index-banner{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #logo{
    width:30%;    

  }

}


/* Landscape */
@media only screen and (max-width: 800px) and (orientation: landscape) { 


  #logo{
    width:20%;    

  }
  #index-banner{
    display: flex;
    justify-content: center;
    align-items: center;
  }

}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
 
  
  #logo {
    width: 25%;

  }

  #index-banner{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 
  #logo {
    width: 25%;
  }

  #index-banner{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}




.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.card img {
  max-height: 300px;
  object-fit: cover;
  
}
.card img.materialized.active {
  max-height: none;
  object-fit: none;
}

#Downloading{
  background: rgb(223, 221, 235);
}

#Downloading p{
  font-size: 2em;
  font-family:'Great Vibes', cursive;
  color: rgb(44, 43, 51); 
  font-weight: bold;
  text-align: center; 
  margin-bottom: 5%;
}

.center-cols > .col {
  float:none;
  display: inline-block;
  text-align: initial;
}
